anyio==3.7.1
boto3==1.18.33
Brotli==1.0.9
certifi==2022.12.7
chardet==3.0.4
click>=8.0
dash-bootstrap-components==1.3.1
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-extensions==1.0.4
dash-holoniq-apexcharts==0.0.6
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-table==5.0.0
dash-tabulator==0.4.2
dash==2.9.3
dask==2023.12.1
dev_tools==0.0.3
distributed==2023.12.1
Flask-Caching==2.0.2
Flask-Compress==1.7.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask==1.1.2
future==0.18.3
gunicorn==21.2.0
holidays==0.25
idna==2.10
itsdangerous==1.1.0
MarkupSafe==2.0.1
requests==2.31.0
retrying==1.3.3
shortuuid==1.0.11
six==1.15.0
tzlocal==2.1
urllib3==1.26.6
validate-email==1.3
Werkzeug==2.0.3